* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.navigation {
  background-color: #262626;
  height: calc(100vh - 16px);
  width: 280px;
  border-radius: 8px;
  margin: 8px 0 8px 8px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content-header {
  margin: 0 32px;
}

h1 {
  color: #171717;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.47px;
  font-weight: 600;
}